[Unit]
Description=Start record-falken on boot

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/home/david/falken/record-falken
Restart=on-failure
RestartSec=60
KillMode=mixed
User=david

[Install]
WantedBy=multi-user.target
